*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    padding: 20px;
    position: relative;
}  
#header img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #800020;
    position: absolute;
    right: 200px;
    margin-top: 180px;
} 
.container{
    padding: 10px 10%;
} 
nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 10%;
    background: #080808;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo{
    font-size: 28px;
    font-weight: 700;
    background: linear-gradient(90deg, #ff004f, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 44px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
    text-align: left;
}
.header-text h1{
    font-size: 30px;
    margin-top: 20px;
}
.header-text h2{
    font-size: 60px;
}
.header-text h2 span{
    color: #ff004f;
}
.header-text h3{
    margin-top: 30px;
    font-size: 20px;
}
.btn-cv{
    margin-top: 30px;
    display: inline-block;
    padding: 14px 70px;
    font-size: 16px;
    border-radius: 6px;
    background: #ff004f;
    color: #fff;
    text-decoration: none;
}
.btn.btn-cv{
    margin: 30px 0;
    font-weight: 900;
    display: inline-block;
}
/*  --------------about--------------- */
#about{
    padding: 40px 0;
    color: #fff;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/*-------------services----------- */
#services{
    padding: 30px 0;
    margin-top: 180px;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list p{
    font-size: 17px;
    line-height: 1.7;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}
#portfolio{
    padding: 50px 0;
    margin-top: 120px;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
     transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    font-weight: 800;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 20px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #ff004f;

}
/*--------------contact-------------*/
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 60px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.btn.btn2{
    margin: 30px 0;
    font-weight: 800;
    padding: 15px 60px;
    background: #ff004f;
}
#about,
#services,
#portfolio,
#contact {
    scroll-margin-top: 120px; 
}

